// Mixins Here

.btn-div(@bg-color, @txt-color, @width) {

  background-color: @bg-color;
  color: @txt-color;
  width: @width;
  border-radius: 5px;
  height: 28px;
  font-size: @btn-font-size;

  display: flex;
  justify-content: center;
  align-items: center;

}